/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Typograpghy
2.  spacing/padding

---------------------------------------------------------------------
[1. Typograpghy] */

h2 { text-align: center; font-weight: 700; }

/* ---------------------------------------------------------------------
[1. spacing/padding] */

.three-col { padding-bottom: 30px; }
.single-col { text-align: center; }
