/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Global
2.  Custom Classes

---------------------------------------------------------------------
[1. Global] */

html,body { margin: 0 auto; width: 100%; padding: 0; font-size: 16px; @extend .opensans-reg; color: $font; overflow-x: hidden; }
a { text-decoration: none!important; }
.container-fluid { max-width: 1420px; margin: 0 auto; }
footer { background-color: $footer; text-align: center; padding: 50px 0;
	h1,p { color: rgba($grey, 0.5); }
  p { font-size: 0.9em; }
	.footer-logo { padding: 30px 0; }
	.copyright { font-size: 0.7em; color: rgba($grey, 0.5); }
}
section { padding: 60px 0 60px; &:nth-last-child(1) { margin-top: 50px; } }
#clients-module { padding-top: 100px; .client-logo { text-align: center; img { padding: 10px 0; opacity: 0.5; } } }
#case-studies-module { border-top: 1px solid $grey; }

.flex { display: flex; flex-direction: row; align-items: stretch; }

.locked { position: relative; }
.locked:before { 
  content: "\f023"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: $white;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 14px;
  left: 0; 
}
.locked:after { content: ''; }

.ui-dialog { width: 500px!important; margin: 0 auto!important; left: 50%!important; margin-left: -250px!important; }
.form-wrapper { padding: 20px; }
input#zm_alr_login_keep_me_logged_in { margin-right: 10px!important; margin-top: 2px; }

/* ---------------------------------------------------------------------
[1. Footer Address] */
.address-container { margin-top: -70px; }
.social { text-align: center; margin-left: -45px!important; 
	li { display: inline-block; text-align: center; padding: 10px; a { color: rgba($grey, 0.5); } &:hover { a { color: $grey-dk!important; } .icon { border-radius: 50%; border: 1px solid $grey-dk; padding: 10px 15px; text-align: center; background-color: rgba($grey, 0.5); } }
		.icon { border-radius: 50%; border: 1px solid rgba($grey, 0.5); padding: 10px 15px; text-align: center; 
			i { width: 25px; height: 25px; margin-top: 10px; }
		} 
	} 
}