/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Masthead
2.  Headers
3. 	Samples
*/

@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';

/* ---------------------------------------------------------------------
[1. Masthead] */

#masthead { background-color: $grey; padding: 50px 0; width: 100%; }
.header-img { text-align: center; }
.header-logo { width: 100%; max-width: 579px; }

/* ---------------------------------------------------------------------
[2. Thoughtfuel] */

#thoughtfuel { background-color: $pink; padding: 50px 0; width: 100%; height: 300px; }
.header-img { text-align: center; }
.header-logo { width: 100%; max-width: 579px; }

/* ---------------------------------------------------------------------
[2. Samples] */

#samples-module { /*background-color: $purple;*/ padding: 50px 0; width: 100%; height: 400px; 
	.interactive-header { background-color: $blue!important; }
}
.header-img { text-align: center; }
.header-logo { width: 100%; max-width: 579px; }
//.interactive-header { background-color: $red; }
.interactive-header { background-color: $blue!important; }