/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Sample sub navigation
2.  Thumbnails
3.  Sample pages
	- sample slider
*/

@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';

/* ---------------------------------------------------------------------
[1. Newsletter] */

#newsletter { padding: 50px 0; text-align: center; }
.newsletter-container { background-color: $newsletter; }
.newsletter-input form { text-align: center!important; margin: 0 auto!important; }
.gform_title { display: none; }
.gform_wrapper { text-align: center!important; form { text-align: center!important; max-width: 500px; margin-top: 30px!important; } }
.ginput_container input { padding-left: 10px!important; }
.gform_button { margin-top: 5px; margin-left: -15px; height: 32.75px; 
	border-top-right-radius: 7px; border-bottom-right-radius: 7px; background-color: $blue; border: none;
	color: $white; font-weight: 700; font-size: 1em!important; padding-left: 20px; padding-right: 20px;
}
.gform_body input { border-top-left-radius: 7px; border-bottom-left-radius: 7px; border: 1px solid $outline; height: 32.75px; border-right: none; }
