/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Sample sub navigation
2.  Thumbnails
3.  Sample pages
	- sample slider
*/

@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';

/* ---------------------------------------------------------------------
[1. Samples sub menu] */

.nav-pills>li>a { color: $font-alt; background-color: transparent!important; &hover { background-color: transparent!important;  } }
//.nav-pills>li>a:hover { color: $black!important; }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { background-color: transparent!important; }
.nav-pills>li.interactive.active>a, .nav-pills>li.interactive.active>a:focus, .nav-pills>li.interactive.active>a:hover, .nav-pills>li.interactive>a:hover { color: $blue!important; }
.nav-pills>li.motion.active>a, .nav-pills>li.motion.active>a:focus, .nav-pills>li.motion.active>a:hover, .nav-pills>li.motion>a:hover { color: $green-lt; }
.nav-pills>li.environment.active>a, .nav-pills>li.environment.active>a:focus, .nav-pills>li.environment.active>a:hover, .nav-pills>li.environment>a:hover { color: $purple; }
.nav-pills>li.web.active>a, .nav-pills>li.web.active>a:focus, .nav-pills>li.web.active>a:hover, .nav-pills>li.web>a:hover { color: $orange; }
.nav-pills>li.print.active>a, .nav-pills>li.print.active>a:focus, .nav-pills>li.print.active>a:hover, .nav-pills>li.print>a:hover { color: $red; }

#samples-thumbnails-module { background-color: $canvas; }

/* ---------------------------------------------------------------------
[2. Thumbnails] */
/*
.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.flexbox .col {
  flex: 1;
}
*/

.tab-content { margin-top: 30px; }

.thumb img { width: 100%; }
.thumbnail-container { display: block-inline; }
.thumbnail { padding: 0; border-radius: 0; @include box-shadow(0px 3px 3px 1px rgba($grey,0.75));
	.caption { padding-bottom: 15px; margin-bottom: 30px;
		h3 { font-size: 1.10em; margin-top: 7px; margin-bottom: 7px; @extend .opensans-semi; }
		span { color: $font-alt; font-weight: 400; /*line-height: 0.25em!important;*/ }
		.thumb-title span { font-size: 0.8em; line-height: 2em!important; }
		.cat-icon { margin-top: 5px; padding: 0px 10px; padding-bottom: 4px; border-radius: 5px; border: 1px solid transparent; background-color: $grey; span { font-size: 0.6em!important; } }
	}
}

.thumbnail-horiz { border: 1px solid $outline; background-color: $white; height: 99px; overflow: hidden; margin-bottom: 10px;
	img { height: 99px; max-height: 99px; width: 100%; }
	.caption { padding-bottom: 0; margin-bottom: 0;
		h3 { font-size: 1em; margin-top: 10px; margin-bottom: 7px; @extend .opensans-semi; }
		span { color: $font-alt; margin-top: -5px; }
		.thumb-title span { font-size: 0.8em; line-height: 2em!important; }
		.cat-icon { margin-top: 5px; margin-right: 10px; padding: 0px 10px; padding-bottom: 4px; border-radius: 5px; border: 1px solid transparent; background-color: $grey; span { font-size: 0.6em!important; } }
	}
	.col-xs-7,.col-ms-7,.col-sm-7,.col-md-7,.col-lg-7 { padding-left: 0; }
}
/*
.thumbnail .cat { padding: 0; border-radius: 0; @include box-shadow(0px 3px 3px 1px rgba($grey-dk,0.03));
	.cat .caption { padding-bottom: 0px!important; margin-bottom: 0px!important;
	}
}
#sample-description .thumbnail-container { height: 99px; }
.cat .img-container { overflow: hidden; }
.cat { img { width: 100%; height: 100%!important; } }
.cat h3 { font-size: 1.10em; margin-top: 0px!important; margin-bottom: 0px!important; @extend .opensans-semi; }
.cat span { color: $font-alt; font-weight: 400; }
.cat .cat-icon { margin-right: 10px; padding: 0px 0px; border-radius: 25px; border: 1px solid transparent; background-color: $grey; }
.cat .col-xs-7 { padding-left: 0!important; padding-right: 0!important; }
.cat .col-xs-3 { padding-left: 0!important; padding-right: 0!important; }

#tags .col-xs-5,#tags .col-sm-5,#tags .col-md-5,#tags .col-lg-5 { padding-left: 15px; padding-right: 0; }
#tags .col-xs-7,#tags .col-sm-7,#tags .col-md-7,#tags .col-lg-7 { padding-left: 0px; padding-right: 15px; }
#tags .thumbnail { padding: 0; border-radius: 0; @include box-shadow(0px 3px 3px 1px rgba($grey,0.75)); }
*/

/* ---------------------------------------------------------------------
[3. Samples Slider] */

#samples-slider-module { margin-top: -350px;
	.slickslider-samples img, { margin: 0 auto!important; }
	.slide img { border: 1px solid #eee; width: 100%; max-width: 800px; height: auto; background-color: $black; }
	.slide-thumb { /*width: 150px!important; height: 150px!important;*/ margin: 0 10px; &:nth-child(1) { margin-left: 0; } border: 1px solid #eee; text-align: center; img {  width: 100%; height: auto; text-align: center; } }
	.slider-nav { margin-top: 50px; }
	.slider-nav .slick-track { width: 100%!important; margin-left: 0!important; }

	/* slick slider *//*
	.slick-dots { left: -110px!important; margin-left: 50%; position: absolute; z-index: 100; margin-top: -30px;
		li { display: inline-block!important; border-radius: 50%; border: 1px solid $white; height: 8px; width: 8px; margin: 0 10px;
			button { display: none; font-size: 0px; } 
		}
	}
	.slick-dots .slick-active { border: 1px solid $white!important; background-color: $white!important; }*/
}

/* ---------------------------------------------------------------------
[3. Samples Video] */
#samples-video-module,#samples-capabilities_video-module { margin-top: -350px; 
	.video-container { text-align: center; }
	video { width: 100%; max-width: 1000px; border: 1px solid #ddd; background-color: $black; @include box-shadow(0px 3px 3px 1px rgba($grey,0.75)); }
}

/* ---------------------------------------------------------------------
[3. Samples Description] */
#sample-description { text-align: center; margin-top: -30px!important; 
	h1 { padding-bottom: 20px; }
}

#tags { background-color: $canvas; }