/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Thoughtfuel
2.  Headers
*/

@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';

/* ---------------------------------------------------------------------
[1. Thoughtfuel] */

#articles-module { background-color: $canvas; 
	a:hover { color: $pink; }
	.article-container { background-color: #ccc; }
	.sidebar-container { background-color: $red; width: 100%; }
	//.post img { width: 100%; height: auto; }
	.post-thumbnail,.post-thumbnail-featured { border: 1px solid $outline; padding-bottom: 20px; margin-bottom: 30px; @include box-shadow(0px 3px 3px 1px rgba($grey-dk,0.03)); background-color: $white; 
		h3 { padding: 0 20px; margin-top: 7px; font-size: 1.75em!important; @extend .greatvibes; text-transform: capitalize; }
		p { padding: 0 20px; }
		img { width: 100%; max-width: 1200px; height: auto; border-bottom: 1px solid rgba($outline, 0.5); }
	}
	.post-thumbnail-featured { width: 100%!important; }
	.post-thumbnail { height: 100%; }
}
.post-date { font-size: 0.725em; color: $font-alt; text-transform: uppercase; &:before { content: '\f073'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: none; padding-right: 7px; } }
.post-padding { padding: 0px 0!important; }
.detail { height: 300px; overflow: hidden; }
.social-sharing li { display: inline-block; padding: 4px!important; font-size: 0.8em; a { color: $font-alt; &:hover { color: $pink; } } }
.date,.social { display: inline-block; }
.date { margin-left: 20px; }
.social { margin-left: -20px!important; }
.post .tagcloud { padding-left: 20px; padding-top: 7px; }
.post-detail { margin-top: -5px; }

h3 span { @extend .opensans-semi; text-transform: uppercase!important; }

/* ---------------------------------------------------------------------
[2. Sidebar] */

#sidebar1 .widget { border: 1px solid $outline; padding: 10px; margin-bottom: 10px; @include box-shadow(0px 3px 3px 1px rgba($grey,1)); background-color: $white; h4 { border-bottom: 1px solid rgba($outline, 0.5); padding-bottom: 10px; } }
.tagcloud { a { font-size: 0.725em!important; color: $font-alt; &:hover { color: $pink; text-decoration: none; } padding-right: 7px; &:before { content: '\f02b'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; padding-right: 3px; } } }
.widgettitle { @extend .opensans-semi; }
.widget_archive { 
	ul li { list-style-type: none; margin-left: -40px;
		a { font-size: 0.725em; color: $font-alt; text-transform: uppercase; 
			&:hover { color: $pink; text-decoration: none; }
			&:before { content: '\f187'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; padding-right: 7px; } 
		} 
	} 
}
.recentposts { 
	li { list-style-type: none; margin-left: -40px; margin-bottom: 10px; border-bottom: 1px solid rgba($outline, 0.5); padding-bottom: 10px; &:nth-last-child(1) { border-bottom: none; }
		img { border: 1px solid $outline; } 
		.postdetail-container { position: absolute; }
		.post-title { margin-top: -50px; display: block; margin-left: 80px; padding-right: 18px; font-size: 0.85em; text-transform: uppercase; background-color: transparent!important; color: $font; &:hover { color: $pink; } } 
		.post-date { display: block; margin-left: 80px; font-size: 0.725em; color: $font-alt; text-transform: uppercase; &:before { content: '\f073';/*\f133*/ font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; padding-right: 7px; } }
	} 
}

/* ---------------------------------------------------------------------
[2. archive-header] */
.post-thumbnail {
	.search { padding: 25px 15px 0; text-align: left; font-size: 1.5em; float: left; display: inline-block; }
	.cat-title { flaot: left; display: inline-block; color: $font-alt; }
	.page-title { padding: 7px 15px 0; text-align: left; font-size: 1.5em; @extend .opensans-reg; font-weight: 400; }
	.taxonomy-description { color: $font-alt!important; }
} 