/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Thoughtfuel
2.  Headers
*/

@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';

/* ---------------------------------------------------------------------
[1. Thoughtfuel] */

#articles-module { background-color: $canvas; 
	.article-container { background-color: #ccc; }
	.sidebar-container { background-color: $red; width: 100%; }
	//.post img { width: 100%; height: auto; }
	.post-thumbnail { border: 1px solid #ccc; max-width: 682px; margin-bottom: 30px;
		h1 { padding: 0 20px; }
		p { padding: 0 20px; }
	}
}