/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Active Mind Fuel
Version:		1.0
Last change:	06/09/16 [development, html tags]
Assigned to:	Active Mind Fuel (AG)
Primary use:	Website refresh
---------------------------------------------------------------------
[Table of contents]

1.  Brand Colors
2.	Neutral Colors
3.	Other Colors

---------------------------------------------------------------------
[1. Brand Colors] */

$blue: #00ccff;
$green-lt: #b6d44f;
$green-dk: #51ab14;
$purple: #724d92;
$red: #b83535;
$pink: #f0347f;
$orange: #e66206;

/* ---------------------------------------------------------------------
[2. Background Colors] */

$navbarlink: #fff;
$navbarhover: #00ccff;
$navbarfocus: #f0347f;
$hamburger: #fff;
$footer: #d8d8d8;

/* ---------------------------------------------------------------------
[3. Other Colors] */

$black: #000;
$white: #fff;
$grey: #f5f5f5;
